<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <style>
        .hide {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app">
        <table class="table">
            <input type="text" v-model="searchname"><button @click="setclass">搜索</button>
            <br />
            <input v-model="nname" type="text"><input v-model="nprice" type="text"><button @click="addgoods">添加</button>
            <thead>
                <tr>
                    <th>状态</th>
                    <th>商品名称</th>
                    <th>价格</th>
                    <th>删除</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(val,index) in goods" v-bind:class="setclass(index)" @click="line(val)">
                    <th scope="row"><input v-model="checkedd" type="checkbox" v-bind:value="val.id"></th>
                    <td>{{val.name}}</td>
                    <td>{{val.price}}</td>
                    <td><button @click.stop="deletegood(index)">删除</button></td>
                </tr>
            </tbody>
        </table>
        <button @click="deletegoods">删除选中</button>总价：{{sum}}
    </div>
    <script>
        new Vue({
            el: "#app",
            data: {
                nname: "",
                nprice: "",
                checkedd: [],
                searchname: "",
                goods: [
                    {
                        name: "衬衫",
                        price: 123,
                        id: 1,
                    },
                    {
                        name: "裙子",
                        price: 145,
                        id: 2,
                    },
                    {
                        name: "牛仔裤",
                        price: 155,
                        id: 3,
                    },
                ],
            },
            methods: {
                line(val) {
                    console.log(this.checkedd, val.id);
                    if (!this.checkedd.includes(val.id)) {
                        this.checkedd.push(val.id)
                    }
                    else {
                        this.checkedd.splice(this.checkedd.indexOf(val.id), 1)
                    }
                },
                addgoods() {
                    let _id = this.goods[this.goods.length - 1].id;
                    let obj = {
                        name: this.nname,
                        price: this.nprice,
                        id: _id + 1,
                    }
                    this.goods.push(obj);
                },
                deletegood(index) {
                    this.goods.splice(index, 1);
                },
                deletegoods() {
                    console.log(this.checkedd);
                    let goodss = this.goods;
                    let checkedd = this.checkedd;
                    for (let i = 0; i < checkedd.length; i++) {
                        for (let j = 0; j < goodss.length; j++) {
                            if (goodss[j].id == checkedd[i]) {
                                goodss.splice(j, 1);
                            }
                        }
                    }
                    this.goods = goodss;
                    this.checkedd = [];
                },
                setclass(index) {
                    let sename = this.searchname;
                    console.log(sename);
                    let re = new RegExp(".*" + sename + ".*");
                    console.log();
                    if (sename) {
                        if (!re.test(this.goods[index].name)) {
                            return "hide";
                        }
                    }
                }
            },
            computed: {
                sum() {
                    let a = 0
                    let goodss = this.goods;
                    let checkedd = this.checkedd;
                    for (let i = 0; i < checkedd.length; i++) {
                        for (let j = 0; j < goodss.length; j++) {
                            if (goodss[j].id == checkedd[i]) {
                                a = parseInt(goodss[j].price) + a;
                            }
                        }
                    }
                    return a;
                }
            }
        })
    </script>
</body>

</html>